In [0]:
data  = [(101,'Athiya',5000),
        (102,'Anu',4000)]
schema = ['Id','Name','Salary']
df = spark.createDataFrame(data = data, schema = schema)
df.show()
df.printSchema()

+---+------+------+
| Id|  Name|Salary|
+---+------+------+
|101|Athiya|  5000|
|102|   Anu|  4000|
+---+------+------+

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [0]:
df1 = df.withColumn('New_Salary',df.Salary.cast('Integer'))

In [0]:
df1.show()

+---+------+------+----------+
| Id|  Name|Salary|New_Salary|
+---+------+------+----------+
|101|Athiya|  5000|      5000|
|102|   Anu|  4000|      4000|
+---+------+------+----------+

In [0]:
df1.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- New_Salary: integer (nullable = true)

In [0]:
df2 = df1.withColumn('Updated_Salary',df1.New_Salary*2)

In [0]:
df2.show()

+---+------+------+----------+--------------+
| Id|  Name|Salary|New_Salary|Updated_Salary|
+---+------+------+----------+--------------+
|101|Athiya|  5000|      5000|         10000|
|102|   Anu|  4000|      4000|          8000|
+---+------+------+----------+--------------+

In [0]:
from pyspark.sql.functions import lit

In [0]:
df3 = df2.withColumn('Country',lit('India'))

In [0]:
df3.show()

+---+------+------+----------+--------------+-------+
| Id|  Name|Salary|New_Salary|Updated_Salary|Country|
+---+------+------+----------+--------------+-------+
|101|Athiya|  5000|      5000|         10000|  India|
|102|   Anu|  4000|      4000|          8000|  India|
+---+------+------+----------+--------------+-------+